h1 {
  text-align: center;
}

.gameButton {
    height: 50px;
    width: 100px;
}

#buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 500px;
    margin-right: 500px;
}

#scoreContainer {
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 20px;
}
